# Python virtual environment
backend/.venv/

# Python cache
__pycache__/
*.py[cod]

# Secret environment variables
.env
*.env

# Frontend dependencies and builds
frontend/node_modules/
frontend/dist/

# Editor files
.vscode/
.idea/